<!-- your html code here -->
<br>
<br>
<h1 id="contact">Contact</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum adipisci dolore enim corrupti unde dolor ratione rem distinctio quo ut molestiae, fugiat maiores tempora? Eius id eveniet maxime ab deleniti Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam sint praesentium culpa fuga nemo ducimus repudiandae molestiae quidem temporibus. Eos neque consequatur minus nulla qui explicabo, nesciunt fugiat asperiores odit.</p>
<br>
    <div class="col-md-6 container bg-light">
        <div class="form-group">
            <label for="email">Your E-mail</label>
            <input type="email" class="form-control" placeholder="Your email" id="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
           <textarea class="form-control" id="textarea" rows="3" placeholder="Please enter your message here..." id="pwd"></textarea>
        </div>
        <button type="submit" class="float-right btn btn-primary">Submit</button> 
    </div>
<br>
<br>
<br>



