<!-- your html code here -->
<br>
<br>
<div id="about">
    <div class="container-fluid"></div>
    <div class="row">
        <div class="col-md-8 float-left"><h2><a href="#" class="text-body">The first heading</a>
         <a href="#" class="text-muted">Will catch your eye</a>
        </h2><p class="text-left">Breaking Bad fue creada por Vince Gilligan, quien previamente había trabajado como guionista en la serie The X Files, de Fox. Gilligan quería crear una serie en la que el protagonista se convirtiera en el antagonista. En una entrevista, dijo: "Históricamente, en la televisión los guionistas se esfuerzan por mantener a los personajes siempre iguales durante años o incluso décadas. Cuando noté esto, el siguiente paso lógico era pensar en cómo podría hacer un programa cuyo principal tema fuese el cambio". Añadió que su objetivo era transformar a Walter White de un Mr. Chips a un Scarface. El concepto surgió durante una conversación entre Gilligan y su colega guionista Thomas Schnauz, quienes, bromeando, dijeron que si se quedasen sin trabajo la solución sería "armar un laboratorio de metanfetamina dentro de un vehículo de recreación e ir por todo el país cocinando cristales y ganando dinero".  </p>
        </div>
 <img class="col-md-3 rounded-circle float-right" src="./assets/img/1.jpg" alt="img-circle">
</div>
</div>

