<!-- your html code here -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Boostrap</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/website1/templates/first_heading.html">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/website1/templates/services.html">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/website1/templates/portfolio.html">Portfolio</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="/website1/templates/contact.html">Contact</a>
    </li>
  </ul>
</nav>