<br>
<br>

<h1 id="portfolio">Portafolio</h1>
<p>Los estudiantes necesitan ser guiados para que puedan progresar en el desarrollo de sus herramientas personales. Cuando el alumno inicia su portafolio al comienzo de la licenciatura, al finalizar sus estudios, podrá observar en forma completa cómo contribuyó su educación en su formación y reconocer las destrezas que ha desarrollado.

    El Portafolios se divide en áreas de capacidades. Los estudiantes insertan en las diferentes secciones los documentos que demuestren el desarrollo de capacidades y destrezas específicas.
    
    Portafolios para desarrollar los currículum personales o historias de vida.
    
    Por lo general cuando terminan sus estudios, los alumnos no advierten las habilidades que desarrollaron. Obtienen un documento con su historia académica que muestra los cursos tomados y las calificaciones recibidas. Conocen las actividades extracurriculares en que han participado, pero no pueden traducir esta información a las necesidades con que se van a encontrar en su vida profesional.
</p>
</div>
<div class="card-deck">
    <div class="card light text-dark">
        <div class="card-body text-center">
            <img class="card-img-top" src="assets/img/big-project-image.png" alt="big-project-image Card image"
                style="width:100%">
            <br>
            <br>
            <h2 class="text-left text-primary">Project Name</h2>
            <p class="text-left">This weekend was a bit different, though. My parents took me out for a nice lunch,
                because it was my
                birthday. After lunch, we took a walk (as usual) and then I caught the train back to London.</p>

        </div>
    </div>
    <div class="card light text-dark">
        <div class="card-body text-center">
            <img class="card-img-top" src="assets/img/big-project-image.png" alt="big-project-image Card image"
                style="width:100%">
            <br>
            <br>
            <h2 class="text-left text-primary">Project Name</h2>
            <p class="text-left">This weekend was a bit different, though. My parents took me out for a nice lunch,
                because it was my
                birthday. After lunch, we took a walk (as usual) and then I caught the train back to London.</p>

        </div>
    </div>
    <div class="card light text-dark">
        <div class="card-body text-center">
            <img class="card-img-top" src="assets/img/big-project-image.png" alt="big-project-image Card image"
                style="width:100%">
            <br>
            <br>
            <h2 class="text-left text-primary">Project Name</h2>
            <p class="text-left">This weekend was a bit different, though. My parents took me out for a nice lunch,
                because it was my
                birthday. After lunch, we took a walk (as usual) and then I caught the train back to London.</p>

        </div>
    </div>

</div>
</div>
</div>