
<body>s
    <h1>Portafolio</h1>
    <p>This weekend was a bit different, though. My parents took me out for a nice lunch, because it was my birthday.
    </p>

    <div class="col-4">
    <figure class="figure">
        <img src="big-project-image.png" class="figure-img img-fluid rounded" alt="big-project-image.png">
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
    </figure>
    <div class="col-4"></div>
    <figure class="figure">
        <img src="big-project-image.png" class="figure-img img-fluid rounded" alt="big-project-image.png">
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
    </figure>
    <div class="col-4">
    <figure class="figure">
        <img src="big-project-image.png" class="figure-img img-fluid rounded" alt="big-project-image.png">
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
    </figure>
</body>
