<br>
<br>

<h1>Portafolio</h1>
<p>This weekend was a bit different, though. My parents took me out for a nice lunch, because it was my birthday. After
    lunch, we took a walk (as usual) and then I caught the train back to London.</p>
</div>
<div class="card-deck">
    <div class="card light text-dark">
        <div class="card-body text-center">
            <img class="card-img-top"
                src="https://browser-gold-sheep-rrxv7f71.ws-eu03.gitpod.io/workspace/exercise-collaborative-html-website/website1/assets/img/big-project-image.png"
                alt="Card image" style="width:100%">
            <br>
            <br>
            <h2 class="text-left text-primary">Project Name</h2>
            <p class="text-left">This weekend was a bit different, though. My parents took me out for a nice lunch,
                because it was my
                birthday. After lunch, we took a walk (as usual) and then I caught the train back to London.</p>

        </div>
    </div>
    <div class="card light text-dark">
        <div class="card-body text-center">
            <img class="card-img-top"
                src="https://browser-gold-sheep-rrxv7f71.ws-eu03.gitpod.io/workspace/exercise-collaborative-html-website/website1/assets/img/big-project-image.png"
                alt="Card image" style="width:100%">
            <br>
            <br>
            <h2 class="text-left text-primary">Project Name</h2>
            <p class="text-left">This weekend was a bit different, though. My parents took me out for a nice lunch,
                because it was my
                birthday. After lunch, we took a walk (as usual) and then I caught the train back to London.</p>

        </div>
    </div>
    <div class="card light text-dark">
        <div class="card-body text-center">
            <img class="card-img-top"
                src="https://browser-gold-sheep-rrxv7f71.ws-eu03.gitpod.io/workspace/exercise-collaborative-html-website/website1/assets/img/big-project-image.png"
                alt="Card image" style="width:100%">
            <br>
            <br>
            <h2 class="text-left text-primary">Project Name</h2>
            <p class="text-left">This weekend was a bit different, though. My parents took me out for a nice lunch,
                because it was my
                birthday. After lunch, we took a walk (as usual) and then I caught the train back to London.</p>

        </div>
    </div>

</div>
</div>
</div>