<div id="services">
<div class="container-fluid">
    <div class="row">
         <img class="rounded-circle float-rigth" src="assets/img/2.jpg"alt=" 2 img-circle">
           <div class="col-8 float-left"><h2><a href="#" class="text-body">The Second Heading</a>
         <a href="#" class="text-muted">Is Pretty Cool Too.</a>
        </h2><p class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat laboriosam voluptates accusantium minus eius fugit eos commodi, nostrum repellat inventore sequi id saepe quae odio hic beatae, veritatis deleniti eligendi! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo eligendi labore possimus quas vitae dolor iusto accusamus amet eaque doloribus, voluptatum, suscipit earum quos mollitia nulla dolore deleniti officia soluta?</p>
        </div>

</div>    
</div>

