<div id="services">
<div class="container-fluid">
    <div class="row">
         <img class="col-md-3 rounded-circle float-left" src="assets/img/2.jpg"alt=" 2 img-circle">
           <div class="col-8 float-left"><h2><a href="#" class="text-body">The Second Heading</a>
         <a href="#" class="text-muted">Is Pretty Cool Too.</a>
        </h2><p class="text-rigth">Teniendo en mente los objetivos del sistema que va a programar, el Programador escribe las líneas de código pertenecientes al lenguaje de Programación, a fin de que el ordenador ejecute las ordenes.  Previamente puede realizar el diseño del programa. Tras la escritura en sí, debe depurar las líneas de código, compilarlo si lo requiere (lo cual significa transformarlo a un lenguaje básico), y luego realizar la manutención del programa, aparte de las tareas de testeo de un programa. Un Programador puede trabajar realizando todas estas tareas o sólo alguna de ellas, dependiendo de su trabajo. La creación de programas de cierta complejidad suele incluir un equipo de trabajo con varios programadores.</p>
        </div>

</div>    
</div>

